# Dependencies
node_modules/
**/node_modules/  # Ignores node_modules in all subdirectories (e.g., backend/user/node_modules)

# Environment variables
.env
**/.*env  # Ignores .env files in all subdirectories (e.g., backend/user/.env)


# Production builds
dist/
**/dist/  # Ignores dist folders in all subdirectories (e.g., backend/user/dist)
